.header-container {
  color: #fff;
  padding: 23px;
  background-color: #000818;
  .main-status-icon {
    color: #1db9548f;
    font-size: 100px;
  }
  .favorite-toggle {
    font-size: 25px;
    color: #df5a5a;
  }
  .song-cover {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background-size: cover;
  }
  .song-time {
    font-size: 12px;
  }
  .header-btn-handler {
    svg {
      font-size: 21px;
    }
  }
  .song-range-time {
    width: 750px;
  }
}

@media screen and (max-width: 1146px) {
  .song-range-time {
    width: 450px !important;
  }
}
@media screen and (max-width: 782px) {
  .song-range-time {
    width: 250px !important;
  }
  .song-cover {
    width: 10rem !important;
    height: 10rem !important;
  }
}