.aside-container {
  background-color: rgb(10, 9, 9);
  color: #fff;
  width: 170px !important;
  height: 100% !important;
  border-radius: 0 0 90px 0;
  .sidebar-list {
    padding: 0 5px;
    li {
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
      transition: all 0.3s;
      width: 140px !important;
      &:hover {
        width: 140px !important;
        background: #fff;
        color: #111;
        transition: all 0.3s;
      }
    }
  }
}
// dynamic path color
.pathColor {
  color: #8ea3e1;
}